
baseURL = "https://yaswanth2761.github.io/"
languageCode = "en-us"
title = "My Personal Website"
theme = "PaperMod"

[pagination]
  pagerSize = 5


[params]
  author = "Yaswanth Kumar Allam"
  ShowReadingTime = true
  ShowToc = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  defaultTheme = "auto"
  disableThemeToggle = false

[menu]
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 1
  [[menu.main]]
    identifier = "blog"
    name = "Blog"
    url = "/posts/"
    weight = 2
  [[menu.main]]
    identifier = "projects"
    name = "Projects"
    url = "/projects/"
    weight = 3
